/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 90%;
  margin: auto;
}

/* Header styles */
header {
  background-color: #fff;
  position: sticky;
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo img {
  width: 150px;
  height: 150px;
  /* Adjust the width as needed */
}

.humber_menu {
  display: none;
  /* Hide the menu icon on larger screens */
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-size: 18px;
  margin: 0 10px;
  font-weight: 500;
  color: #f37042;
  text-decoration: none;
}

nav li a.active {
  color: #00a878;
  border-bottom: 1px solid #f37042;
}

nav ul li a:hover {
  color: #00a878;
  transition-duration: 0.5s;
}

.banner {
  background-position: top center;
  position: relative;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.custom-rich-text-block {
  background-color: #e5d8d86b;
}

.banner img {
  width: 400px;
}

.banner .container {
  justify-content: end;
}

.background-overlay {
  background-color: #49066d;
  opacity: 0.36;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.custom-rich-text-heading h1 {
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-size: 66px;
  font-weight: bold;
  letter-spacing: -1px;
}

.custom-rich-text-subheading h2 {
  color: #ffffff;
  font-family: "Merriweather", Sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.basicComponent {
  padding: 50px 0px;
}
.basicComponent .basicComponent_wrapper h2 {
  color: #f37042;
  font-family: "Lato", Sans-serif;
  font-size: 60px;
  font-weight: 600;

  letter-spacing: 3.8px;
  text-align: center;
}
.basicComponent .basicComponent_wrapper h3 {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: #00a878;
}
.basicComponent .basicComponent_content {
  background-color: #fff;
  box-shadow: 20px 20px 80px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  text-align: justify;
  width: 70%;
  margin: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-button {
  border: none;
  padding: 10px 25px;
  background-color: #f37042;
  border-radius: 15px;
  margin: auto;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.cta-button:hover {
  background-color: #00a878;
  transform: scale(1.2);
}

.contact_us h2 {
  color: #f37042;
  font-family: "Merriweather", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
form {
  padding: 0px 50px;
  font-weight: bold;
}
.form-container {
  padding: 50px 0px;
}
form .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 5%;
}

.input-field {
  margin: 40px 0;
  width: 100%;
}
.input-field span,
.text-area span {
  color: red;
}

.input-field label,
.text-area textarea {
  padding: 0;
  border: none;
  outline: none;
  margin: 11px 0;
  display: block;
}
.frist .last {
  font-size: 14.6px;
  font-weight: 400;
}

.input-field input,
.text-area textarea {
  line-height: 23px;
  height: 35px;
  /* border: none; */
  outline: none;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  /* -webkit-box-sizing: border-box !important; */
  box-sizing: border-box !important;
  color: inherit;
  font-weight: bold;
}

.text-area textarea {
  min-height: 146px;
  resize: vertical;
}

.submit_btn {
  cursor: pointer;
  line-height: 23px;
  height: 44px;
  padding: 11px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* -webkit-box-sizing: border-box !important; */
  box-sizing: border-box !important;
  color: #333;
  font-size: 16px;
  background: #eee;
}
.basicpage_main {
  background-color: #fef5f5;
  padding: 50px 0px;
}
.basicPage {
  width: 70%;
  margin: auto;
  padding: 50px 30px;
  background-color: #fff;
  box-shadow: 20px 20px 80px 0px rgba(0, 0, 0, 0.1);
}

.basicPage_wrapper h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.basicPage_wrapper h3 {
  font-size: 14px;
  font-weight: 400;
}
.basicPage_content p {
  text-align: justify;
  padding: 20px 0px;
}

/* for philosophy css  */
section.philosophy {
  padding: 50px 0;
}

.philosophy .Right_img {
  width: 32.30%;
}

.philosophy .basicComponent_content {
  width: 50.60%;
}

.philosophy .Right_img img {
  width: 100%;
}

.philosophy .heading-title {
  color: #00A878;
  font-family: "Lato", Sans-serif;
  font-size: 3.8em;
  font-weight: 600;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.philosophy h3{color: #F37042;
    font-family: "Merriweather", Sans-serif;
    font-size: 0.87em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
  }

.footer {
  padding: 50px 0px;
}

.footer_container {
  max-width: 100%;
  width: 90%;
  margin: auto;
}

.footer_title h2 {
  color: #f37042;
  font-family: "Merriweather", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.footer .policies {
  max-width: 100%;
  width: 90%;
}

.footer .policies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0px;
}

.footer button {
  box-sizing: border-box;
  border: none;
  padding: 12px 24px;
  background-color: #818a91;
  border-radius: 3px;
  margin: auto;
}
.footer button a {
  color: #ffff;
  font-size: 15px;
  text-decoration: none;
}

/* Mobile menu styles */
@media (max-width: 768px) {
  .humber_menu {
    display: block;
    /* Show the menu icon on smaller screens */
  }

  nav {
    position: absolute;
    top: 100px;
    /* Adjust the distance from the top */
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.open {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer .policies {
    grid-template-columns: none;
  }

  .footer button {
    margin: 10px 0px;
  }
}